<!-- templates/create_po.html -->
<!-- <h2>Create Purchase Order</h2>
<form method="POST" action="/api/purchase-orders/">
  {% csrf_token %}
  Supplier ID: <input type="text" name="supplier_id"><br>
  <div id="items">
    <h4>Item 1</h4>
    Product ID: <input type="text" name="items[0][product_id]"><br>
    Quantity: <input type="number" name="items[0][quantity]"><br>
    Price/unit: <input type="text" name="items[0][price_per_unit]"><br>
  </div>
  <button type="submit">Create PO</button>
</form> -->
