{% extends 'inventory/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Suppliers 

    <button class="btn btn-success"><a href="{% url 'add-supplier' %}"><i class="bi bi-plus-circle"></i></a></button>

    </h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.contact_email }}</td>
                <td>{{ s.phone_number }}</td>            
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No suppliers available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
